[submodule "FastEMRIWaveforms"]
	path = FastEMRIWaveforms
	url = https://github.com/BlackHolePerturbationToolkit/FastEMRIWaveforms.git
[submodule "LISAanalysistools"]
	path = LISAanalysistools
	url = https://github.com/mikekatz04/LISAanalysistools.git
